/* CSS Document */
html,body,p,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
a{ text-decoration:none; color:#000;}
a:hover{ text-decoration:none;}
img{vertical-align:top; border:0}
body{font-size:14px;background:url(../img/bj.jpg) repeat-x;font-family:微软雅黑;}

.main{width:618px; margin:auto; padding-top:180px; padding-bottom:150px;}
.login{width:618px; height:212px; background: #fff; padding-top:80px;
 line-height:34px; color:#000; _background: none; }

.End {
  width: 618px;
  height: 76px;
  margin-top:10px;
  background: url(../img/End-bj.png) no-repeat;
  line-height: 76px;
  text-align: center;
}